{% extends 'comunes/listado.html' %}

{% block nuevo_registro %}
    <a href="{% url 'comunes:usuario_create' %}" class="btn btn-success btn-sm"><i class="fa fa-plus"></i> Nuevo</a>
{% endblock %}

{% block tabla %}
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Usuario</th>
                <th>Nombre</th>
                <th>Correo</th>
                <th>Super</th>
                <th>Staff</th>
            </tr>
        </thead>
        <tbody>
            {% for object in object_list %}
            <tr>
                <td>{{object.id}}</td>
                {# url 'comunes:usuario_detail' object.pk #}
                <td><a href="{{object.get_absolute_url}}">{{object.username}}</a></td>
                <td>{{object}}</td>
                <td>{{object.email}}</td>
                <td>{{object.is_superuser}}</td>
                <td>{{object.is_staff}}</td>
                <td>
                    {% if not object.is_active %}
                    <span class="label label-danger">&nbsp;</span>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}